<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-sm-auto rounded w-75  ">
<h1>Welcome to <i class="fas fa-book"></i><strong>Bookers!</strong></h1>

<p class='offset-md-3 '>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>